
@font-face{
    src: url(/fonts/Merriweather-Light.ttf);
    font-family: merri;
}

@font-face{
    src: url(/fonts/SourceSansPro-Regular.ttf);
    font-family: source;
}

html{
    scroll-behavior: smooth;
}

::-webkit-scrollbar{
    width: 12px;
}


::-webkit-scrollbar-thumb{
    background: linear-gradient(125deg, rgb(73, 71, 64), #8C8773);
    border-radius: 3px;
}

::-webkit-scrollbar-track
{
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

body{
    width: 80%;
    margin: auto;
    padding: 0;
}

#homepage{
    width: 100%;
    height: 100vh;
    margin: 0px auto;
    background-color: #8C8773;
}

.hp-areas{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 25% 25% 25% 25%;
    grid-template-areas: 
        "bradley bradley . main-nav"
        "bradley bradley logo main-nav"
        "bradley bradley title title"
        "bradley bradley title title";  
    width: 100%;
    height: 100vh;
    margin: auto;  
    
}

.bradley{
    grid-area: bradley;
    background-color: white;
    height: 100%;
    width: 100%;
}

.logo{
    grid-area: logo;
    height: 30vh;
    margin: 0 20px;
}

.nav-wrapper{
    position: relative;
}

.nav-button{
    will-change: transform;
    display: flex;
}

.main-nav{
    grid-area: main-nav;
    float: right;
    font-family: source;
    font-size: 4vh;
    text-align: right;
    padding-right: 20px;
}

.main-nav ul{
    list-style: none;
}

.main-nav ul li{
    text-decoration: none;
}

.main-nav ul li a{
    color: black;
    text-decoration: none;
}

.main-nav ul li a:hover{
    color: white;
}

.title{
    grid-area: title;
    font-family: merri;
    font-size: 10vh; 
    margin-left: 20px;   
}

.page-title{
    font-family: merri;
    display: flex;
    flex-direction: row;
    justify-content: center; 
    font-size: 6vh;
    padding: 70px 0 20px 0;
    margin: 0;
}

.page-nav{
    background-color: rgba(255, 255, 255, 0.5);
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: sticky;
    top: 0;
}

.page-nav ul{
    list-style: none;
}

.page-nav ul li a{
    text-decoration: none;
    color: black;    
    padding: 0 40px;
    font-family: source;
    font-size: 20px;
}

.page-nav ul li a:hover{
    color:#444;
}

#tattoo-gallery{
    width: 100%;
    height: 100vh;
    margin: 0 auto;
}

.gallery-container{
    width: 80%;
    height: 70vh;    
    overflow: hidden;
    overflow-y: scroll;
    margin: auto;    
}

.tattoo-grid{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 50% 50%;
    grid-template-areas: 
        "tattoo1 tattoo1 tattoo2 tattoo3"
        "tattoo1 tattoo1 tattoo4 tattoo5";
    width: 100%;
    height: 100%;
    grid-gap: 5px;
    margin: auto;    
    padding-top: 10px;
}

.tattoo-grid2{
    display: grid;
    grid-template-columns: 25% 25% 50%;
    grid-template-rows: 50% 50%;
    grid-template-areas: 
        "tattoo1 tattoo2 tattoo3"
        "tattoo4 tattoo5 tattoo3";
    width: 100%;
    height: 100%;
    grid-gap: 5px;
    margin: auto;
    padding-top: 10px;
}

.tattoo1{
    grid-area: tattoo1;
    width: 100%;
    height: 100%;
}

.tattoo2{
    grid-area: tattoo2;
    width: 100%;
    height: 100%;
}

.tattoo3{
    grid-area: tattoo3;
    width: 100%;
    height: 100%;
}

.tattoo4{
    grid-area: tattoo4;
    width: 100%;
    height: 100%;
}

.tattoo5{
    grid-area: tattoo5;
    width: 100%;
    height: 100%;
}

#art-gallery{
    width: 100%;
    height: 100vh;
    margin: auto;
    background-color: #8C8773;
}

.art-grid{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 50% 50%;
    grid-template-areas: 
        "art1 art1 art2 art3"
        "art1 art1 art4 art5";
    width: 100%;
    height: 100%;
    grid-gap: 5px;
    margin: auto;
}

.art-grid2{
    display: grid;
    grid-template-columns: 25% 25% 50%;
    grid-template-rows: 50% 50%;
    grid-template-areas: 
        "art1 art2 art3 art3"
        "art4 art5 art3 art3";
    width: 100%;
    height: 100%;
    grid-gap: 5px;
    margin: auto;
    padding-top: 10px;
}

.art1{
    grid-area: art1;
    width: 100%;
    height: 100%;
}

.art2{
    grid-area: art2;
    width: 100%;
    height: 100%;
}

.art3{
    grid-area: art3;
    width: 100%;
    height: 100%;
}

.art4{
    grid-area: art4;
    width: 100%;
    height: 100%;
}

.art5{
    grid-area: art5;
    width: 100%;
    height: 100%;
}

#about{
    width: 100%;
    height: 100vh;
    margin: auto;
}

.about-grid{
    display: grid;
    grid-template-columns: 35% 65%;
    grid-template-rows: 25% 75%;
    grid-template-areas:
        "bradley2 about-subtitle"
        "bradley2 about-blurb";
    width: 60%;
    grid-gap: 10px;
    margin: auto;
}

.bradley2{
    grid-area: bradley2;
    height: auto;
    width: 100%;
    justify-self: flex-end;
}

.about-subtitle{
    grid-area: about-subtitle;
    font-family: merri;
    font-size: 5vh;
}

.about-blurb{
    grid-area: about-blurb;
    font-family: source;
    font-size: 4vhpx;
    margin: 0;
}

#faq{
    width: 100%;
    height: 100vh;
    margin: auto;
    background-color: #8C8773;
}

.faq-container{
    width: 50%;
    max-height: 70vh;
    margin: auto;
    align-content: center;
    overflow: hidden;
    overflow-y: scroll;
}

.accordian{
    background-color:#8C8773;
    cursor: pointer;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    font-family: merri;
    font-size: 15px;
    padding: 10px;
}

.accordian::after{
    content: '\02795';
    font-size: 10px;
    color: black;
    float: right;
    margin-left: 5px;
}

.active::after{
    content: "\2796";
    color: black;
}

.active, .accordian:hover{
    background-color: #747061;
}

.panel{
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-out;
    font-family: source;
    font-size: 14px;
    padding: 5px 20px;
}

#contact{
    width: 100%;
    height: 100vh;
    margin: auto;
}

.contact-container{
    width: 50%;
    margin: auto;
    text-align: center;  
}

.contact-container h3{
    font-family: merri;
    font-size: 20px;
}

.contact-container p{
    font-family: source;
    font-size: 20px;
}

.contact-container p a{
    text-decoration: none;
    color: black;
}

.footer{
    height: 40vh;
    margin: 10vh 0 0 0;
    background-color: #8C8773;
    align-content: center;
    display: flex;
    flex-direction: row;
    justify-items: center;
}

.footer img{
    width: 20vh;
    margin: auto;
}

